RewriteEngine on

RewriteCond %{HTTP_HOST} ^ukgpl.davegymer.org$ [OR]
RewriteCond %{HTTP_HOST} ^ukgpl.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.ukgpl.davegymer.org$
RewriteRule ^(.*)$ "http://www.ukgpl.com/$1" [R=301,L]

