@import url("../../default/css/index.css?fin20");
@import url("../../srou/css/lm2style.css?fin20");

body { background: #88f; }

.forumtitle img { width: 376px; height: 89px; position: relative; }

.forumtitle a::after {
	content: "by SimRacing.org.uk";
	font-size: 8pt;
	position: relative;
	bottom: 2px;
	right: 150px;
}
