*~
*.delete
error_log
.ssh

minified.css

/.zcompdump
/.X*
/arvixe
/boxfish
/dories
/.cache
/.mozilla
/.config
/.vnc
/.gitconfig
/.fontconfig
/.lesshst
/.mysql_history
/.viminfo
/.zshrc
/.zhistory
/.bash_history

/public_html.davegymer.org/
/public_html.test/

/public_html.srou/live
/public_html.srou/lapcharts

/public_html.srou/downloads/UKGTL-Skinning-Instructions.zip
/public_html.srou/downloads/UKGTL-skins-*.zip
/public_html.srou/downloads/UKGTR-Skinning-Instructions.zip
/public_html.srou/downloads/*.zip
/public_html.srou/downloads/*.exe
/public_html.srou/downloads/server
/public_html.srou/downloads/40?.shtml

/public_html.srou/downloads/GTR2/*.exe

/public_html.srou/www/images/manuf/{source}
/public_html.srou/www/images/tyres/{source}

/public_html.srou/www/lm2/*.patch
/public_html.srou/www/lm2/*.lnk

/public_html.srou/www/mkportal/cache/*.rss

# Official SMF files.

/public_html.srou/www/smf/ssi_examples.php
/public_html.srou/www/smf/ssi_examples.shtml
/public_html.srou/www/smf/SSI.php
/public_html.srou/www/smf/agreement.txt
/public_html.srou/www/smf/warning.php
/public_html.srou/www/smf/news_readme.html
/public_html.srou/www/smf/index.php
/public_html.srou/www/smf/favicon.ico
/public_html.srou/www/smf/readme.html
/public_html.srou/www/smf/license.txt
/public_html.srou/www/smf/avatars
/public_html.srou/www/smf/Settings_bak.php
/public_html.srou/www/smf/warning_css.css
/public_html.srou/www/smf/changelog.txt
/public_html.srou/www/smf/attachments
/public_html.srou/www/smf/Packages
/public_html.srou/www/smf/.travis.yml
/public_html.srou/www/smf/.scrutinizer.yml
/public_html.srou/www/smf/DCO.txt
/public_html.srou/www/smf/LICENSE
/public_html.srou/www/smf/README.md
/public_html.srou/www/smf/cache/
/public_html.srou/www/smf/contributors.txt
/public_html.srou/www/smf/cron.php
/public_html.srou/www/smf/custom_avatar/
/public_html.srou/www/smf/db_last_error.php
/public_html.srou/www/smf/proxy.php
/public_html.srou/www/smf/subscriptions.php

/public_html.srou/www/smf/Smileys/aaron/
/public_html.srou/www/smf/Smileys/akyhne/
/public_html.srou/www/smf/Smileys/default
/public_html.srou/www/smf/Smileys/fugue/
/public_html.srou/www/smf/Smileys/alienine/
/public_html.srou/www/smf/Smileys/index.php

/public_html.srou/www/smf/Sources/Subs-Compat.php
/public_html.srou/www/smf/Sources/ManageSmileys.php
/public_html.srou/www/smf/Sources/Stats.php
/public_html.srou/www/smf/Sources/Subs-Post.php
/public_html.srou/www/smf/Sources/LogInOut.php
/public_html.srou/www/smf/Sources/Memberlist.php
/public_html.srou/www/smf/Sources/Subs-Package.php
/public_html.srou/www/smf/Sources/Poll.php
/public_html.srou/www/smf/Sources/Calendar.php
/public_html.srou/www/smf/Sources/Errors.php
/public_html.srou/www/smf/Sources/MessageIndex.php
/public_html.srou/www/smf/Sources/Load.php
/public_html.srou/www/smf/Sources/BoardIndex.php
/public_html.srou/www/smf/Sources/Modlog.php
/public_html.srou/www/smf/Sources/ManagePosts.php
/public_html.srou/www/smf/Sources/Register.php
/public_html.srou/www/smf/Sources/ManageAttachments.php
/public_html.srou/www/smf/Sources/ManageErrors.php
/public_html.srou/www/smf/Sources/PersonalMessage.php
/public_html.srou/www/smf/Sources/httpBL_Subs.php
/public_html.srou/www/smf/Sources/Karma.php
/public_html.srou/www/smf/Sources/Who.php
/public_html.srou/www/smf/Sources/Subs-Sound.php
/public_html.srou/www/smf/Sources/Subs-Charset.php
/public_html.srou/www/smf/Sources/Search.php
/public_html.srou/www/smf/Sources/index.php
/public_html.srou/www/smf/Sources/News.php
/public_html.srou/www/smf/Sources/ManageSearch.php
/public_html.srou/www/smf/Sources/Packages.php
/public_html.srou/www/smf/Sources/httpBL_Config.php
/public_html.srou/www/smf/Sources/ManageBoards.php
/public_html.srou/www/smf/Sources/Subs-Boards.php
/public_html.srou/www/smf/Sources/LockTopic.php
/public_html.srou/www/smf/Sources/Printpage.php
/public_html.srou/www/smf/Sources/PackageGet.php
/public_html.srou/www/smf/Sources/QueryString.php
/public_html.srou/www/smf/Sources/ManageBans.php
/public_html.srou/www/smf/Sources/RemoveTopic.php
/public_html.srou/www/smf/Sources/Profile.php
/public_html.srou/www/smf/Sources/ViewQuery.php
/public_html.srou/www/smf/Sources/results.php
/public_html.srou/www/smf/Sources/ManageMembers.php
/public_html.srou/www/smf/Sources/Display.php
/public_html.srou/www/smf/Sources/MoveTopic.php
/public_html.srou/www/smf/Sources/Security.php
/public_html.srou/www/smf/Sources/Subs-Graphics.php
/public_html.srou/www/smf/Sources/ignoreme
/public_html.srou/www/smf/Sources/ManageMembergroups.php
/public_html.srou/www/smf/Sources/ManageCalendar.php
/public_html.srou/www/smf/Sources/ManageRegistration.php
/public_html.srou/www/smf/Sources/Themes.php
/public_html.srou/www/smf/Sources/SendTopic.php
/public_html.srou/www/smf/Sources/DumpDatabase.php
/public_html.srou/www/smf/Sources/Reports.php
/public_html.srou/www/smf/Sources/ModSettings.php
/public_html.srou/www/smf/Sources/Subs-Members.php
/public_html.srou/www/smf/Sources/Reminder.php
/public_html.srou/www/smf/Sources/Notify.php
/public_html.srou/www/smf/Sources/StopSpammer.php
/public_html.srou/www/smf/Sources/Subs-Auth.php
/public_html.srou/www/smf/Sources/Subs.php
/public_html.srou/www/smf/Sources/SplitTopics.php
/public_html.srou/www/smf/Sources/RepairBoards.php
/public_html.srou/www/smf/Sources/ManageServer.php
/public_html.srou/www/smf/Sources/Recent.php
/public_html.srou/www/smf/Sources/ManagePermissions.php
/public_html.srou/www/smf/Sources/ManageNews.php
/public_html.srou/www/smf/Sources/Post.php
/public_html.srou/www/smf/Sources/Admin.php
/public_html.srou/www/smf/Sources/Help.php
/public_html.srou/www/smf/Sources/*.lnk
/public_html.srou/www/smf/Sources/Attachments.php
/public_html.srou/www/smf/Sources/CacheAPI-apc.php
/public_html.srou/www/smf/Sources/CacheAPI-apcu.php
/public_html.srou/www/smf/Sources/CacheAPI-memcache.php
/public_html.srou/www/smf/Sources/CacheAPI-memcached.php
/public_html.srou/www/smf/Sources/CacheAPI-postgres.php
/public_html.srou/www/smf/Sources/CacheAPI-smf.php
/public_html.srou/www/smf/Sources/CacheAPI-sqlite.php
/public_html.srou/www/smf/Sources/CacheAPI-xcache.php
/public_html.srou/www/smf/Sources/CacheAPI-zend.php
/public_html.srou/www/smf/Sources/Class-BrowserDetect.php
/public_html.srou/www/smf/Sources/Class-CacheAPI.php
/public_html.srou/www/smf/Sources/Class-CurlFetchWeb.php
/public_html.srou/www/smf/Sources/Class-Graphics.php
/public_html.srou/www/smf/Sources/Class-Package.php
/public_html.srou/www/smf/Sources/Class-Punycode.php
/public_html.srou/www/smf/Sources/Class-SearchAPI.php
/public_html.srou/www/smf/Sources/Class-TOTP.php
/public_html.srou/www/smf/Sources/DbExtra-mysql.php
/public_html.srou/www/smf/Sources/DbExtra-postgresql.php
/public_html.srou/www/smf/Sources/DbPackages-mysql.php
/public_html.srou/www/smf/Sources/DbPackages-postgresql.php
/public_html.srou/www/smf/Sources/DbSearch-mysql.php
/public_html.srou/www/smf/Sources/DbSearch-postgresql.php
/public_html.srou/www/smf/Sources/Drafts.php
/public_html.srou/www/smf/Sources/Groups.php
/public_html.srou/www/smf/Sources/Likes.php
/public_html.srou/www/smf/Sources/Logging.php
/public_html.srou/www/smf/Sources/ManageLanguages.php
/public_html.srou/www/smf/Sources/ManageMail.php
/public_html.srou/www/smf/Sources/ManageMaintenance.php
/public_html.srou/www/smf/Sources/ManagePaid.php
/public_html.srou/www/smf/Sources/ManageScheduledTasks.php
/public_html.srou/www/smf/Sources/ManageSearchEngines.php
/public_html.srou/www/smf/Sources/ManageSettings.php
/public_html.srou/www/smf/Sources/Mentions.php
/public_html.srou/www/smf/Sources/ModerationCenter.php
/public_html.srou/www/smf/Sources/PostModeration.php
/public_html.srou/www/smf/Sources/Profile-Actions.php
/public_html.srou/www/smf/Sources/Profile-Modify.php
/public_html.srou/www/smf/Sources/Profile-View.php
/public_html.srou/www/smf/Sources/ReCaptcha/
/public_html.srou/www/smf/Sources/ReportToMod.php
/public_html.srou/www/smf/Sources/ReportedContent.php
/public_html.srou/www/smf/Sources/ScheduledTasks.php
/public_html.srou/www/smf/Sources/SearchAPI-Custom.php
/public_html.srou/www/smf/Sources/SearchAPI-Fulltext.php
/public_html.srou/www/smf/Sources/SearchAPI-Standard.php
/public_html.srou/www/smf/Sources/Session.php
/public_html.srou/www/smf/Sources/ShowAttachments.php
/public_html.srou/www/smf/Sources/Subs-Admin.php
/public_html.srou/www/smf/Sources/Subs-Attachments.php
/public_html.srou/www/smf/Sources/Subs-BoardIndex.php
/public_html.srou/www/smf/Sources/Subs-Calendar.php
/public_html.srou/www/smf/Sources/Subs-Categories.php
/public_html.srou/www/smf/Sources/Subs-Db-mysql.php
/public_html.srou/www/smf/Sources/Subs-Db-postgresql.php
/public_html.srou/www/smf/Sources/Subs-Editor.php
/public_html.srou/www/smf/Sources/Subs-List.php
/public_html.srou/www/smf/Sources/Subs-Membergroups.php
/public_html.srou/www/smf/Sources/Subs-MembersOnline.php
/public_html.srou/www/smf/Sources/Subs-Menu.php
/public_html.srou/www/smf/Sources/Subs-MessageIndex.php
/public_html.srou/www/smf/Sources/Subs-Notify.php
/public_html.srou/www/smf/Sources/Subs-Password.php
/public_html.srou/www/smf/Sources/Subs-Recent.php
/public_html.srou/www/smf/Sources/Subs-ReportedContent.php
/public_html.srou/www/smf/Sources/Subs-Themes.php
/public_html.srou/www/smf/Sources/Subscriptions-PayPal.php
/public_html.srou/www/smf/Sources/Topic.php
/public_html.srou/www/smf/Sources/Xml.php
/public_html.srou/www/smf/Sources/minify/
/public_html.srou/www/smf/Sources/tasks/
/public_html.srou/www/smf/Sources/random_compat/

/public_html.srou/www/smf/Themes/classic
/public_html.srou/www/smf/Themes/babylon
/public_html.srou/www/smf/Themes/index.php

/public_html.srou/www/smf/Themes/default/Modlog.template.php
/public_html.srou/www/smf/Themes/default/wireless.css
/public_html.srou/www/smf/Themes/default/spellcheck.js
/public_html.srou/www/smf/Themes/default/fader.js
/public_html.srou/www/smf/Themes/default/ManageBans.template.php
/public_html.srou/www/smf/Themes/default/Who.template.php
/public_html.srou/www/smf/Themes/default/Stats.template.php
/public_html.srou/www/smf/Themes/default/ManageSmileys.template.php
/public_html.srou/www/smf/Themes/default/license.txt
/public_html.srou/www/smf/Themes/default/Profile.template.php
/public_html.srou/www/smf/Themes/default/Search.template.php
/public_html.srou/www/smf/Themes/default/Poll.template.php
/public_html.srou/www/smf/Themes/default/script.js
/public_html.srou/www/smf/Themes/default/ManageMembergroups.template.php
/public_html.srou/www/smf/Themes/default/SendTopic.template.php
/public_html.srou/www/smf/Themes/default/Printpage.template.php
/public_html.srou/www/smf/Themes/default/Wireless.template.php
/public_html.srou/www/smf/Themes/default/httpBL.template.php
/public_html.srou/www/smf/Themes/default/index.php
/public_html.srou/www/smf/Themes/default/fonts-compat.css
/public_html.srou/www/smf/Themes/default/Memberlist.template.php
/public_html.srou/www/smf/Themes/default/Display.template.php
/public_html.srou/www/smf/Themes/default/MoveTopic.template.php
/public_html.srou/www/smf/Themes/default/languages
/public_html.srou/www/smf/Themes/default/Notify.template.php
/public_html.srou/www/smf/Themes/default/xml_topic.js
/public_html.srou/www/smf/Themes/default/ManageSearch.template.php
/public_html.srou/www/smf/Themes/default/Packages.template.php
/public_html.srou/www/smf/Themes/default/help.css
/public_html.srou/www/smf/Themes/default/BoardIndex.template.php
/public_html.srou/www/smf/Themes/default/Recent.template.php
/public_html.srou/www/smf/Themes/default/print.css
/public_html.srou/www/smf/Themes/default/ManagePermissions.template.php
/public_html.srou/www/smf/Themes/default/Themes.template.php
/public_html.srou/www/smf/Themes/default/style.css
/public_html.srou/www/smf/Themes/default/Admin.template.php
/public_html.srou/www/smf/Themes/default/Help.template.php
/public_html.srou/www/smf/Themes/default/fonts
/public_html.srou/www/smf/Themes/default/httpBL_css.css
/public_html.srou/www/smf/Themes/default/Xml.template.php
/public_html.srou/www/smf/Themes/default/images
/public_html.srou/www/smf/Themes/default/Combat.template.php
/public_html.srou/www/smf/Themes/default/Reminder.template.php
/public_html.srou/www/smf/Themes/default/index.template.php
/public_html.srou/www/smf/Themes/default/sha1.js
/public_html.srou/www/smf/Themes/default/Errors.template.php
/public_html.srou/www/smf/Themes/default/MessageIndex.template.php
/public_html.srou/www/smf/Themes/default/SplitTopics.template.php
/public_html.srou/www/smf/Themes/default/ManageCalendar.template.php
/public_html.srou/www/smf/Themes/default/xml_board.js
/public_html.srou/www/smf/Themes/default/ManageBoards.template.php
/public_html.srou/www/smf/Themes/default/ManageAttachments.template.php
/public_html.srou/www/smf/Themes/default/Register.template.php
/public_html.srou/www/smf/Themes/default/ManageNews.template.php
/public_html.srou/www/smf/Themes/default/Post.template.php
/public_html.srou/www/smf/Themes/default/PersonalMessage.template.php
/public_html.srou/www/smf/Themes/default/Reports.template.php
/public_html.srou/www/smf/Themes/default/Settings.template.php
/public_html.srou/www/smf/Themes/default/ManageMembers.template.php
/public_html.srou/www/smf/Themes/default/Login.template.php
/public_html.srou/www/smf/Themes/default/Calendar.template.php
/public_html.srou/www/smf/Themes/default/GenericControls.template.php
/public_html.srou/www/smf/Themes/default/GenericList.template.php
/public_html.srou/www/smf/Themes/default/GenericMenu.template.php
/public_html.srou/www/smf/Themes/default/Likes.template.php
/public_html.srou/www/smf/Themes/default/ManageLanguages.template.php
/public_html.srou/www/smf/Themes/default/ManageMail.template.php
/public_html.srou/www/smf/Themes/default/ManageMaintenance.template.php
/public_html.srou/www/smf/Themes/default/ManagePaid.template.php
/public_html.srou/www/smf/Themes/default/ManageScheduledTasks.template.php
/public_html.srou/www/smf/Themes/default/ModerationCenter.template.php
/public_html.srou/www/smf/Themes/default/ReportToMod.template.php
/public_html.srou/www/smf/Themes/default/ReportedContent.template.php
/public_html.srou/www/smf/Themes/default/css/
/public_html.srou/www/smf/Themes/default/scripts/

**/css/minified_*.css
