SetEnvIfNoCase User-Agent "^Yandex*" bad_bot
Order Deny,Allow
Deny from env=bad_bot

RewriteEngine on

RewriteCond %{HTTP_HOST} ^simracing.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^srou.davegymer.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.srou.davegymer.org$
RewriteRule ^(.*)$ "http://www.simracing.org.uk/$1" [R=301,L]

# Rules
RewriteCond %{REQUEST_URI} =/index.php
RewriteCond %{QUERY_STRING} =pid=7
RewriteRule ^(.*)$ http://www.simracing.org.uk/smf/index.php?topic=3349.0 [R=301,L]

# Links
RewriteCond %{REQUEST_URI} =/index.php
RewriteCond %{QUERY_STRING} =pid=5
RewriteRule ^(.*)$ http://www.simracing.org.uk/smf/index.php?topic=3354.0 [R=301,L]

# Downloads
RewriteCond %{REQUEST_URI} =/index.php
RewriteCond %{QUERY_STRING} =pid=27
RewriteRule ^(.*)$ http://www.simracing.org.uk/smf/index.php?board=41.0 [R=301,L]

# Teams
RewriteCond %{REQUEST_URI} =/index.php
RewriteCond %{QUERY_STRING} =ind=lm2&teams=null
RewriteRule ^(.*)$ http://www.simracing.org.uk/smf/index.php?action=LM2R&team=* [R=301,L]

# Circuits
RewriteCond %{REQUEST_URI} =/index.php
RewriteCond %{QUERY_STRING} =ind=lm2&circuit=*
RewriteRule ^(.*)$ http://www.simracing.org.uk/smf/index.php?action=LM2R&circuit=* [R=301,L]

# Spammers and TalkTalk robot
RewriteCond %{REQUEST_URI} =/contact.php [OR]
RewriteCond %{REQUEST_URI} =/logging.php [OR]
RewriteCond %{REQUEST_URI} =/register.php [OR]
RewriteCond %{REQUEST_URI} ^/smf/themes/
RewriteRule ^(.*)$ http://www.simracing.org.uk/frequent.php [R=301,L]