@import url("../../default/css/index.css?fin20");
@import url("../../srou/css/lm2style.css?fin20");

body { background: blue; }

.forumtitle img { width: 480px; height: 80px; position: relative; }

.forumtitle a::after {
	content: "The Spirit of British SimRacing";
	font-size: 8pt;
	position: relative;
	bottom: 2px;
	right: 220px;
}
