/* SimRacing.org.uk: LM2 reports, and other things shared across individual league styles.  */

.lm2eventAmStarter { color: yellow; background: red }
.lm2eventNoStarter { color: red }
.lm2eventUnannounced { color: green; background: lightblue }

.lm2flagCell { }
.lm2official { }
.lm2unofficial { filter: saturate(50%) }

.lm2position1 { background-color: #E9BE29; color: black }
.lm2position2 { background-color: #ADADAD; color: black }
.lm2position3 { background-color: #9A7833; color: white }
.lm2penaltyPoints { color: red; font-size: small }

.lm2penalised { color: red }
.lm2qualCell { background-color: #d0d0d0 }
.lm2bestO { background-color: #CCF; color: #000 }
.lm2bestC { background-color: #CFC; color: #000 }

.lm2fewYCP { background-color: #EFEF9F; color: #900 }
.lm2manyYCP { background-color: yellow; color: red }
.lm2EventYCP { color: red }

.dropped { color: #BBBBBB }

bodyQA {
	background-image: url("../images/qa.svg");
}
