body { background: #88f; }

.forumtitle img { width: 376px; height: 89px; position: relative; }

.forumtitle a::after {
	content: "by SimRacing.org.uk";
	font-size: 8pt;
	position: relative;
	bottom: 2px;
	right: 150px;
}
