body { margin: 0px; font-family: verdana, sans-serif; color: #afa }
body, .title_bar, .information, #inner_section { background-color: #030; background-image: none }
#top_section { background-image: none; background: #141 }
#wrapper { background-color: #131 }

strong, .strong { color: #afa }

.forumtitle img { width: 400px; height: 60px; position: relative }

a, a:link { color: #AA0; text-decoration: none }
a:visited { color: #393; text-decoration: none }
a:hover { text-decoration: underline }

/* Tables should show empty cells. */
table { empty-cells: show }

hr { height: 1px; border: 0; color: #999; background-color: #999 }

/* No image should have a border when linked */
a img { border: 0 }
blockquote, .bbc_standard_quote { color: #afa; background-color: #141; margin: 1px; padding: 1px; font-size: x-small }

.windowbg:nth-of-type(even) { background-color: #304900; color: #cfc }
.windowbg:nth-of-type(odd) { background-color: #003900; color: #cfc }
tr.windowbg:hover { background-color: #154200 }

#wrapper .titlebg, #wrapper .subbg { color: #afa }
h1, h2, h3, h4, h5, h6 { color: #bfb }
