/****************************************************************************
 * SimRacing.org.uk - LM2 reports                                           *
 ****************************************************************************/
/*FIXME: remove these from MkPortal when everything is here in SMF... */

.lm2eventAmStarter { color: yellow; background: red }
.lm2eventNoStarter { color: red }
.lm2eventUnannounced { color: green; background: lightblue }

.lm2flagCell1 { background-color: #DDDDDD }
.lm2flagCell0 { background-color: #777777 }
.lm2penaltyPoints { color: red; font-size: small }
.lm2position1 { background-color: #E9BE29 }
.lm2position2 { background-color: #ADADAD }
.lm2position3 { background-color: #9A7833 }
.lm2position { background-color: #F7F7F7 }

.lm2penalised { color: red }
.lm2qualCell { background-color: #d0d0d0 }
.lm2bestO { background-color: #CCCCFF }
.lm2bestC { background-color: #CCFFCC }

.lm2fewYCP { background-color: #EFEF9F }
.lm2manyYCP { background-color: yellow; color: red }
.lm2EventYCP { color: red }

.dropped { color: #BBBBBB }